<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <typeAliases>
        <typeAlias alias="Admin" type="com.po.Admin"/>
        <typeAlias alias="User" type="com.po.User"/>
        <typeAlias alias="Ob" type="com.po.Ob"/>
        <typeAlias alias="Log" type="com.po.Log"/>
        <typeAlias alias="Order" type="com.po.Order"/>
        <typeAlias alias="Order2" type="com.po.Order2"/>         
        
     </typeAliases>
	 <mappers><!-- 映射器，告诉 MyBatis到哪里去找映射文件-->
        <mapper resource="com/mybatis/user/UserMapper.xml"/> 
        <mapper resource="com/mybatis/user/UserPowerMapper.xml"/> 
        <mapper resource="com/mybatis/user/UserOrderMapper.xml"/>
        <mapper resource="com/mybatis/user/UserReportMapper.xml"/>
        <mapper resource="com/mybatis/user/UserInfoMapper.xml"/> 
        <mapper resource="com/mybatis/user/UserObjectMapper.xml"/>  
 	</mappers>


</configuration>

